/* CSS HERE */

.noise: :after{
	content: "";
	background: 
	url(https://giphy.com/gifs/vhs-positive-vhspositive-3o7qDTjU5TVYQc6Z20);
	opacity: 0.1;
	background-size: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	z-index: 99;
}
/* Try: updating the background to a gradient */


/* Try: changing the font styling of h1 or h2 elements */


/* Try: targeting one element on a specific site and changing something about it's appearance*/

